* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body * {
  outline: 1px solid pink;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 240, 240);
}

/* make scroll smooth */

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: coral;
}

li {
  list-style-type: none;
  margin-left: 10px;
}

h1 {
  color: #999;
  padding: 20px 0px 20px 0px;
}

p {
  line-height: 1.6;
}

hr {
  margin: 20px 0;
}

.logo span {
  color: coral;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* image */

.img-container {
  width: 350px;
  margin: 0 auto;
}

img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid #333;
}

img:hover {
  border: 10px solid coral;
}

/* navbar */

nav {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: #333;
  color: rgb(240, 240, 240);
  padding: 10px;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

nav ul li a:hover {
  color: rgb(240, 240, 240);
}

/* center section */
section {
  height: 100vh;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* footer */

footer {
  text-align: center;
}

.copyright {
  color: rgb(240, 240, 240);
  background-color: #333;
}

#credits {
  font-weight: bold;
}
